/* 头部开始 */
header {
    height: 65rem;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: auto 1fr auto;
    place-items: center;
  }
  .header_title {
    margin-left: 27rem;
    font-size: 28rem;
  }
  header .header_menu {
    grid-column: 3;
    color: rgb(174, 174, 178);
    font-size: 24rem;
    margin-right: 27rem;
  }
  /* 头部结束 */
  /* 主体开始 */
.main {
    display: grid;
    gap: 12rem 12rem;
    font-size: 20rem;
    grid-template-rows: repeat(8, 1fr) 5rem;
    grid-template-columns: 15rem repeat(5, 1fr) 15rem;
  }
  .main > div {
    display: grid;
    border-radius: 12rem;
    color: #fff;
    font-weight: bold;
    padding: 14rem;
  }
  .main > div:nth-of-type(1) {
    grid-row: 1 / span 3;
    grid-column: 2 / span 2;
    background-color: #fa878a;
    font-size: 18rem;
    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr;
  }
  .main > div:nth-of-type(1) .logo {
    font-size: 75rem;
    color: #fff5;
  }
  .main > div:nth-of-type(2) {
    grid-row: 1;
    grid-column: 4 / span 3;
    font-size: 15rem;
    background-color: #fbbcb3;
    grid-template-rows: 1fr;
    grid-template-columns: auto 1fr;
    place-items: center end;
  }
  .main > div:nth-of-type(2) .names {
    grid-row: 1;
    grid-column: 1;
  }
  .main > div:nth-of-type(2) .logo {
    grid-row: 1;
    grid-column: 2;
    font-size: 20rem;
    color: #fff5;
  }
  .main > div:nth-of-type(3) {
    grid-row: 2 / span 2;
    grid-column: 4 / span 3;
    background-color: #ffd506;
    font-size: 20rem;
    grid-template-rows: auto 1fr;
    grid-template-columns: auto 1fr;
    place-items: end;
  }
  .main > div:nth-of-type(3) .names {
    grid-row: 1;
    grid-column: 1;
  }
  .main > div:nth-of-type(3) .logo {
    grid-row: 2;
    grid-column: 2;
    font-size: 55rem;
    color: #fff5;
  }
  .main > div:nth-of-type(4) {
    grid-row: 4 / span 2;
    grid-column: 2 / span 5;
    background-color: #49b2f0;
    font-size: 24rem;
    place-items: end start;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 20rem auto;
  }
  .main > div:nth-of-type(4) .names {
    grid-row: 1;
    grid-column: 3;
  }
  .main > div:nth-of-type(4) .logo {
    grid-row: 1 / span 2;
    grid-column: 1;
    font-size: 80rem;
    color: #fff5;
  }
  .main > div:nth-of-type(5) {
    grid-row: 6 / span 3;
    grid-column: 2 / span 3;
    background-color: #8ce1dc;
    font-size: 18rem;
    place-items: start end;
    grid-template-rows: 1fr auto;
    grid-template-columns: auto 25rem 1fr;
  }
  .main > div:nth-of-type(5) .names {
    grid-row: 2;
    grid-column: 1 / span 2;
    margin: 6rem;
  }
  .main > div:nth-of-type(5) .logo {
    grid-row: 1;
    grid-column: 2 / span 2;
    font-size: 100rem;
    color: #fff5;
  }
  .main > div:nth-of-type(6) {
    grid-row: 6 / span 2;
    grid-column: 5 / span 2;
    background-color: #cbc0fa;
    font-size: 18rem;
    place-items: start end;
    grid-template-rows: 1fr 10rem auto;
    grid-template-columns: auto 15rem 1fr;
  }
  .main > div:nth-of-type(6) .names {
    grid-row: 3;
    grid-column: 1 / span 2;
  }
  .main > div:nth-of-type(6) .logo {
    grid-row: 1;
    grid-column: 2 / span 2;
    font-size: 50rem;
    color: #fff5;
  }
  .main > div:nth-of-type(7) {
    grid-row: 8;
    grid-column: 5 / span 2;
    background-color: #d7a9de;
    font-size: 15rem;
    grid-template-rows: 1fr;
    grid-template-columns: auto 1fr;
    place-items: center end;
  }
  .main > div:nth-of-type(7) .names {
    grid-row: 1;
    grid-column: 1;
  }
  .main > div:nth-of-type(7) .logo {
    grid-row: 1;
    grid-column: 2;
    font-size: 20rem;
    color: #fff5;
  }
  /* 主体结束 */