* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 0.2666vw;
}
body {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
}
#maindiv {
  display: grid;
  grid-template-rows: 1fr;
}
/* 尾部开始 */
footer {
  position: fixed;
  bottom: 0;
  height: 95rem;
  width: 100%;
}
.lines {
  z-index: -1;
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 55rem;
  background-color: #fff;
  box-shadow: 0 -5rem 15rem #ddd;
}
.footer_menu {
  display: flex;
  height: 95rem;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
}
.footers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 80rem;
  height: 45rem;
  color: rgb(174, 174, 178);
  transition: all 0.5s ease;
}
.footer_menu .logo {
  font-size: 20rem;
}
.footer_menu .text {
  font-size: 14rem;
}
footer .footer_menu .selected {
  height: 95rem;
  border-top-left-radius: 40rem;
  border-top-right-radius: 40rem;
  background-color: #fff;
  border-top: 3rem solid #ddd9;
}
.selected .footer_selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50rem;
  height: 50rem;
  border-radius: 50%;
  margin-top: 14rem;
  background-color: rgb(85, 77, 132);
}
.selected .logo {
  font-size: 35rem;
  color: #fff;
}
.selected .text {
  color: rgb(85, 77, 132);
  font-weight: bold;
}
.footers .text {
  margin-bottom: 5rem;
}
/* 尾部结束 */