* {
	padding: 0;
	margin: 0;
}

body {
	background: #dfe1e1;
}
ul {
	list-style: none;
}
.container {
}

/*top nav*/
.nav {
	width: 100%;
	height: 50px;
	background: rgba(0, 0, 0, 0.7);
}
.topNav {
	width: 600px;
	height: 26px;
	color: white;
	margin: auto;
	/*line-height: 50px;*/
	padding-top: 12px;
	padding-bottom: 12px;
}
.topNav h3 {
	float: left;
}
.topNav input {
	text-indent: 1em;
	float: right;
	width: 380px;
	height: 24px;
	box-shadow: 1px 1px 10px #dfe1e1 inset;
	border-radius: 10px;
}

/*todo list*/
.todo {
	width: 100%;
	height: 100%;
}
.lists {
	width: 600px;
	height: 100%;
	padding: 20px 0 10px 0;
	margin: auto;
}
.todoNav {
	width: 600px;
	height: 30px;
}
.title1 {
	width: 300px;
	height: 18px;
	font-size: 18px;
	font-weight: bold;
	color: black;
	float: left;
	line-height: 18px;
	/*    margin-top: 20px;
    margin-bottom: 10px;*/
}
.todoCount {
	width: 18px;
	height: 18px;
	border-radius: 50%;
	font-size: 13px;
	font-weight: bold;
	color: black;
	float: right;
	text-align: center;
	line-height: 18px;
	background: #82b5b2;
	/*margin-top: 20px;
    margin-bottom: 10px;*/
}
.todoList {
	width: 600px;
}
.todoList ul {
	width: 600px;
	margin: auto;
}
.todoList li {
	width: 587px;
	height: 30px;
	padding: 0 5px;
	margin: 5px 0;
	background: white;
	line-height: 30px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-left: 3px solid #0b423e;
}

/*done list*/
.done {
	width: 100%;
	height: 100%;
}
.lists1 {
	width: 600px;
	height: 100%;
	padding: 20px 0 10px 0;
	margin: auto;
}
.doneNav {
	width: 600px;
	height: 30px;
}
.title2 {
	width: 300px;
	height: 18px;
	font-size: 18px;
	font-weight: bold;
	color: black;
	float: left;
	line-height: 18px;
	/*margin-top: 20px;
    margin-bottom: 10px;*/
}
.doneCount {
	width: 18px;
	height: 18px;
	border-radius: 50%;
	font-size: 13px;
	font-weight: bold;
	color: black;
	float: right;
	text-align: center;
	line-height: 18px;
	background: #82b5b2;
	/*margin-top: 20px;
    margin-bottom: 10px;*/
}
.doneList {
	width: 600px;
}
.doneList ul {
	width: 600px;
	margin: auto;
}
.doneList li {
	width: 587px;
	height: 30px;
	padding: 0 5px;
	margin: 5px 0;
	background: white;
	line-height: 30px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-left: 3px solid #0b423e;
}

/*site foot*/
.siteFoot {
	width: 100%;
	height: 100%;
}
.foot {
	width: 600px;
	height: 30px;
	margin: auto;
	text-align: center;
	line-height: 30px;
}

.content {
	width: 500px;
	height: 27px;
	color: black;
	font-size: 15px;
	background: white;
	line-height: 27px;
	border: none;
}
.content:hover {
	border: 1px solid skyblue;
}
.listSpan {
	width: 18px;
	height: 18px;
	border-radius: 50%;
	font-size: 13px;
	font-weight: bold;
	color: black;
	float: right;
	text-align: center;
	line-height: 18px;
	background: #82b5b2;
	margin-top: 6px;
}
.listSpan:hover {
	cursor: pointer;
}
.checkBox {
	width: 18px;
	height: 18px;
	margin-top: 5px;
	margin-right: 10px;
	margin-left: 5px;
}